body, ul{
	margin: 0;
	padding: 0;
}
html{
	height: 100%;
}
.btn{
	height: 50px;
	width: 150px;
	font-size: 22px;
	margin-top: 100px;
	margin-bottom: 4px;
}

ol, ul{
	list-style: none;
}

a{
	text-decoration: none;
	color:#fff;
}

.container{
	position: relative;
	width: 1051px;
	margin: 0 auto;

}

.notebook-bg-container{
	position: absolute;
	left: -140px;
	background: url(bootstrap/img/notebook.png) no-repeat;
	width: 1000px;
	height: 500px;
	
}
.overview{
	margin: 0;
	font-family: "Myriad Pro";
	text-align: justify;
	margin-top: 80px;
	margin-bottom: 100px;
	width: 450px;
	float: left;
}
.overview h4{
	margin: 0;
	font-family: "Myriad Pro";
	text-transform: uppercase;
	border-bottom: 1px solid #ccc;
	padding-bottom: 25px;
	margin-bottom: 15px;
}

.birip_window{
	background: url(bootstrap/img/biRipperWindow.jpg) no-repeat;
	margin-top: 80px;
	float: right;
	width: 450px;
	height: 407px;
	box-shadow: 0 0 3px #ccc;
}



.plugins{
	position: relative;
	margin: 0;
	font-family: "Myriad Pro";
	text-align: justify;
	margin-top: 80px;
	margin-bottom: 100px;
	width: 450px;
	float: right;
}

.plug-icon{
	float: left;
	margin-top: 15px;
	margin-right: 30px; 
}
.plug-icon + p{
	margin-top: 25px;
}
.plugins h4{
	margin: 0;
	font-family: "Myriad Pro";
	text-transform: uppercase;
	border-bottom: 1px solid #ccc;
	padding-bottom: 25px;
	margin-bottom: 15px;
}

.whats-new h4{
	border-bottom: 1px solid #ccc;
	margin: 0;
	font-family: "Myriad Pro";
	text-transform: uppercase;
	padding-bottom: 25px;
	margin-bottom: 15px;
}


.whats-new{
	margin-top: 80px;
	margin-bottom: 100px;
}

.whats-new div:first-child{
	width: 123px;
	font-size: 23px;
	margin-bottom: 25px;
	padding-bottom: 15px;
	border-bottom: 2px solid #4cd197;
}

.whats-new span{
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 20px;
	border-bottom: 1px solid #4cd197;
}

.whats-new p{
	margin-top: 20px;
	margin-bottom: 40px;
}

.right, .central, .left{

	width: 347px;
}

.right{
	
	float: right;
}
.central{
	margin-left:5px;
	margin-right: 5px; 
	float: left;
}

.left{
	float: left;
}

#content{
	height: 100%;
	background: #f0f1f5;
	min-height: 500px;
	box-shadow: 0px 0px 5px white;
}

#content .overview{
	font-size: 14px;
	float: left;
}


.bg-container{

	background: #fff;
	height: 500px;
	box-shadow: 0 0 2px #ffffff;
}

.header{
	z-index: 1;
	position: absolute;
	width: 100%;
	padding: 40px 0;
}
.header .container{
	position: relative;

}
.opasity{
	z-index: 0;
	position: fixed;
	opacity:0;
	background: black;
	height: 120px;
	width: 100%;
	top: 0;
	box-shadow: 3px 0 7px black;
}


.logo{
	padding-top: 10px;
	float: left;
	margin-left: 50px;
}

.logo-footer{
	margin-left: 50px;
	padding-top: 25px;
	float: left;
}
.logo-footer span{
	margin-left: 60px;
	font-size: 14px;
}

.nav{
	float: right;
}

.nav a{
	border-bottom: 1px solid gray;
	text-decoration: none;
	float: left;
	padding: 10px;
	font-size: 15px;
}

.active{
	border-bottom: 2px solid #80e0b6;
}

.nav a:hover{
	color: #80e0b6;
}

.fnav{
	margin-left: 300px;
	margin-top: 30px;
}

.fnav a{
	color: #969696;
	padding: 10px;
}

.fnav a:hover{
	text-decoration: none;
	color:#80e0b6;
}

#home{
	color: white;
	text-align: center;
	padding-top: 180px;
	height: 340px;
	background: #222 url(bootstrap/img/header3.jpg) center no-repeat;
	background-attachment:fixed;
	background-size: cover;
}
#home h1{
	text-transform:uppercase;
	margin: 0;
	margin-top: 25px;
	font-size: 30px;
}

#home h2{
	margin: 0;
	font-size: 16px;
}
.footer{
	height: 80px;
	background: #000;
}